input[type="text"]
input[type="password"]
input[type="email"]
button
  height: 45px
  width: 140%
  background-color rgb(185, 225, 242)
  border none
  outline none
  border-radius 23px
  padding 0 30px
  margin 10px
  color #124a74
  font-weight 700 

button
  padding 0
  background-color #52ade1
  color #f2f2f2
  font-weight: 800
  font-size: 15px



